* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#app, .header, .welcome, .about,
.favorites, .coffee-shop,
.contacts, .library-card,
.footer {
    max-width: 1440px;
    min-width: 768px;
    margin: 0 auto;
}